*,
::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: "Noto Serif JP", serif;
  line-height: 1.5;
}
ul {
  padding-left: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #eeeeee;
}
p,
h1,
h2,
h3 {
  letter-spacing: 0.08em;
}
h1 {
  margin: 0 auto;
  padding: 0.5em 0;
}
h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2em;
}
h3 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
}
span {
  display: block;
}
.wrapper {
  margin: 1em auto;
  width: calc(100% - 3em);
}
.sp {
  display: block;
}
.pc {
  display: none;
}
.header-wrap {
  background-color: #393e46;
}
.name-logo {
  display: block;
  margin: 0 auto;
}

/*ハンバーガーcss*/
.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 55px;
  width: 55px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: #393e46;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}
/*タップ時バツ*/
#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(
    255,
    255,
    255,
    0
  ); /*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}
#menu-btn-check {
  display: none;
}
/*メニューのcss*/
.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%; /*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: #393e46;
  transition: all 0.5s; /*アニメーション設定*/
}
.menu-content ul {
  padding: 70px 10px 0;
}
.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}
.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}
.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}
/*タップ時開く*/
#menu-btn-check:checked ~ .menu-content {
  left: 0; /*メニューを画面内へ*/
}
/*ここまでハンバーガー*/

.key-visual img {
  width: 100%;
  height: auto;
}
.about-wrap {
  display: flex;
  flex-direction: column;
}
.about-text-wrap {
  margin: 3em 0;
}
.profile-wrap {
  border-top: 3px solid #00adb5;
}
.profile-wrap p {
  text-align: center;
}
.skill-wrap {
  border-bottom: 3px solid #00adb5;
  padding-bottom: 24px;
}
.skill-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.icon-name {
  width: 15px;
  margin: 15px;
}
.skill-logo li::after {
  display: block;
  font-size: 2px;
  text-align: center;
}
.html-logo::after {
  content: "HTML5";
}
.css-logo::after {
  content: "CSS3";
}
.javascript-logo::after {
  content: "JavaScript";
}
.php-logo::after {
  content: "PHP";
}
.mysql-logo::after {
  content: "MySQL";
}
.illustrator-logo::after {
  content: "Illustrator";
}
.photoshop-logo::after {
  content: "Photoshop";
}
.dreamweaver-logo::after {
  content: "DreamWeaver";
}
.github-logo::after {
  content: "Github";
}
.wordpress-logo::after {
  content: "Wordpress";
}
.portfolio-wrap {
  background-color: #eeeeee;
}
.portfolio-list img {
  max-width: 100%;
  height: auto;
}
.portfolio-list img:hover {
  opacity: 0.5;
}
.portfolio-list p {
  text-align: center;
}
.form-wrap {
  display: flex;
  flex-direction: column;
}
.form-wrap input,
textarea {
  border: 4px solid #eeeeee;
  margin: 8px 0 18px 0;
}
form label::before {
  content: "必須";
  background-color: #dc143c;
  border-radius: 20px;
  color: #eeeeee;
  margin-right: 10px;
  padding: 6px 10px;
}
.name-mail-wrap {
  display: flex;
  flex-direction: column;
}
#text {
  resize: none;
  height: 200px;
}
.submit {
  background-color: #00adb5;
  color: #eeeeee;
  width: 100%;
  height: 3em;
  transition: 0.2s;
  border-radius: 30px;
}
.submit:hover {
  background-color: #393e46;
}

footer {
  text-align: center;
  background-color: #393e46;
  padding: 1em;
}
footer small {
  color: #eeeeee;
}
/*タブレット表示*/
@media (min-width: 768px) {
  .self-photo {
    width: 400px;
  }
  .about-text-wrap {
    margin: auto;
  }
  h2 {
    padding: 30px;
  }
  span {
    display: inline;
  }
  .about-wrap {
    flex-direction: row;
  }
}
/*パソコン用*/
@media (min-width: 1024px) {
  .pc {
    display: block;
  }
  .sp {
    display: none;
  }
  .wrapper {
    width: 1024px;
    margin: auto;
  }

  .header-wrap {
    display: flex;
    justify-content: space-between;
  }
  h1 {
    margin-left: 25px;
  }
  .nav-list {
    display: flex;
    margin: 25px;
  }
  .nav-list li {
    margin-right: 30px;
    height: auto;
    transition: 0.3s;
  }
  .nav-list li:hover {
    font-size: 30px;
    background-color: #00adb5;
  }
  .portfolio-contents {
    display: flex;
    flex-wrap: wrap;
  }
  .portfolio-list {
    width: 300px;
    margin: auto;
  }
}
